DISCORD_TOKEN=your_discord_bot_token_here
PTERO_API_KEY=your_pterodactyl_api_key_here

ALLOWED_ROLE_ID=your_allowed_role_id_here
MONEY_LOG_CHANNEL_ID=your_money_log_channel_id_here
REPORT_CHANNEL_ID=your_report_channel_id_here

WEBSITE_LINK=your_website_link_here
PANEL_LINK=your_panel_link_here
BILLING_LINK=your_billing_link_here
DISCORD_INVITE=your_discord_invite_link_here
SUPPORT_LINK=your_support_link_here

PTERO_PANEL_URL=your_pterodactyl_panel_url_here
PTERO_ALLOCATION_ID=your_pterodactyl_allocation_id_here

TIMEZONE=your_timezone_here